.content
   .row
      article.span10.hero-unit
           - if (errors.length)
               - errors.forEach(function(error){
                   .alert-message.error= error
               - })
           - if (messages.length)
               - messages.forEach(function(message){
                   .alert-message.success= message
               - })

           h2 An Extension Framework
           p AXF is a cheat framework. It provides a framework to write extensions that are exposed to plugins.
               | Extensions may be submitted via this website in order to centralize them for easy access. Extension Authors
               | must register here in order to submit their extensions. Extensions are then moderated and accepted by AXF Authors.
      aside.span4
               h3 Purpose
               p This is the official AXF Author Extensions Webpage. Here, authors can submit their AXF extensions and AXF users can browse the available 'trusted' extensions for AXF. The purpose of this website is to centralize the distribution and use of AXF Extensions.
               h3 Navigation
               ul
                   li <a href="/">Main Page</a>
                   li <a href="/register">Register</a>
                   li <a href="/list">Available Extensions</a>
                   li <a href="/csv">AXF Tutorial</a>

