doctype html
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    yield
    script(src='/javascripts/bootstrap-alerts.js')
    script(src='/javascripts/bootstrap-buttons.js')
    script(src='/javascripts/bootstrap-dropdown.js')
    script(src='/javascripts/bootstrap-popover.js')
    script(src='/javascripts/bootstrap-twipsy.js')

    //if lt IE 9
        script(src="http://html5shim.googlecode.com/svn/trunk/html5.js", language="text/javascript")
  body
    .container
      .header.page-header
          h1 An Extension Framework Official WebPage
              form.pull-right(action='/login',method='post')

                  input.span2#username(type='username', name='username',
                  placeholder='username', required=true)

                  input.span2#password(type='password',name='password',
                  placeholder='password',required=true)

                  button.btn(type='submit',value="Login") Login
        !=body
        footer
          p &copy; <a href="http://google.com">genuine & hunter - Curse-X</a> 2013 - no License.
