.content
    .row
        article.span12
            h2 AXF Extensions
            - if (members.length)
                table.rzebra-striped.table.table-condensed.table-bordered.span12
                    thead
                        tr
                            th Name
                            th Url
                            th Author
                            //th Date
                    tbody
                    - members.forEach(function(member){
                        tr
                            td= member['username']
                            td= member['email']
                            td= member['password']
                            //td= member['date_joined']
                    - })
            - else
                p No registered Extensions.

        .span4
            h3 AXF Extension List
            p This page is a list of trusted Extensions available for AXF. This is not a complete list as not everyone
                |decides to register, but all extensions on this list are 'trusted' and have been screened and manually                       |approved by AXF Authors.
            h3 Navigation
            ul
                li <a href="/">Main Page</a>
                li <a href="/register">Register</a>
                li <a href="/csv">AXF Tutorial</a>