.content
    .row
        article.span10
            - if (errors.length)
                - errors.forEach(function(error){
                    .alert-message.error= error
                - })
            - if (messages.length)
                - messages.forEach(function(message){
                    .alert-message.success= message
                - })
            h2 Axf Author Registration
            form(action='/reg', method='post')
                fieldset
                    legend
                    .clearfix
                        label(for="username") Username
                        .input
                            input#username.xlarge(type="text", size="30", name="username", required="required")
                    .clearfix
                        label(for="password") Password
                        .input
                            input#password.xlarge(type="password", size="30", name="password", required="required")
                    .clearfix
                        label(for="email") E-mail
                        .input-prepend
                            span.add-on @
                            input#email.xlarge(type="email", size="50", name="email", required="required")
                fieldset
                    .actions
                        input.btn.primary(type="submit", value="Register")
                        button.btn(type="reset") Cancel
        aside.span4
            h3 AXF Extension Register Form
            p This form is to register to submit AXF Extensions. You must be registered in order to submit AXF Extensions, if you choose not to register, you may still provide a location for your extensions to be downloaded, but the safety of extensions that are not part of the official directory cannot be verified.
            h3 Navigation
            ul
                li <a href="/">Main Page</a>
                li <a href="/list">Available Extensions</a>
                li <a href="/csv">AXF Tutorial</a>